.header {
    background-color: $dark-charcoal;
    color: $white;
    padding: $gutter;
    text-align: center;
}

.header__title {
    font-family: 'Phosphate Solid', 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
}

.header__logo {
    display: inline-block;
    height: $logo-size;
    width: $logo-size;
    border-radius: $logo-size / 2;
    background-color: $red;
    margin: 0 10px -15px 10px;
}

.header__logo:before {
    content: '';
    display: block;
    width: 31px;
    height: 35px;
    background: url(../images/skull.png) no-repeat;
    background-size: 31px 35px;
    position: relative;
    top: 12px;
    left: 14px;
}