$light-grey: #cfcfcf;
$medium-light-grey: #384248;
$medium-grey: #384248;
$medium-dark-grey: #4a4a4a;
$dark-charcoal: #2b3236;
$almost-black: #1d2225;
$white: #ffffff;
$lightest-blue: rgb(197, 233, 255);
$yellow: #f8e71c;
$orange: #f5a623;
$red: #b8182b;

$gutter: 20px;
$sidebar-size: 230px;
$logo-size: 60px;
$warrior-image-small: 50px;
$warrior-image-large: 230px;