.notify {
	position: absolute;
	background-color: $yellow;
	width: $notify-width;
	padding: 20px;
	font-size: 20px;
	right: -100%;
	transition: right 0.1s;
}

.notify--active {
	right: 50%;
	margin-right: -1 * $notify-width / 2;
}

.notify--chuck {
	background: url(../images/chuck-transparent.png) no-repeat;
	width: 318px;
	height: 398px;
	font-size: 30px;
	line-height: 318px;
}