.notification-list {
	width: $notification-width;
	position: absolute;
	right: 50px;
}

.notification-list__item {
	color: white;
	list-style-type: none;
	margin: 0 0 5px 0;
	padding: 10px;
	border: 1px solid;
	text-align: left;
}

// notification themes
.notification-list__item--success {
	background-color: $green;
}

.notification-list__item--warning {
	background-color: $yellow;
}

.notification-list__item--error {
	background-color: $red;
}


// css transition group styles
$animation-time: 300ms;

.notification-list__item--enter {
  opacity: 0.01;
}

.notification-list__item--enter-active {
  opacity: 1;
  transition: opacity $animation-time ease-in-out;
}

.notification-list__item--leave {
  opacity: 1;
}

.notification-list__item--leave-active {
  opacity: 0.01;
  transition: opacity $animation-time ease-in-out;
}