<section class="leaderboard">
    <h3 class="title title--medium sidebar__title">Leaderboard</h3>
    <table class="table leaderboard__table">
        <thead class="table__thead">
            <tr class="table__row">
                <th class="table__cell">Warrior</th>
                <th class="table__cell text-right">Ranking</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: sortedWarriors">
            <tr class="table__row">
                <td class="table__cell" data-bind="text: name"></td>
                <td class="table__cell text-right" data-bind="text: wins"></td>
            </tr>
        </tbody>
    </table>
</section>