@import 'node_modules/deathmatch-components/scss/variables.scss';

.main {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    position: relative;
}

.main__title--first {}

.main__title--third {}

.main__warrior-detail {}