@import 'node_modules/deathmatch-components/scss/variables';
@import 'node_modules/deathmatch-components/scss/mixins/breakpoints';
@import 'node_modules/deathmatch-components/scss/config/grid';

.matchup {
    text-align: center;
    padding-top: 10px;
}

.matchup__title--third {
	margin-top: 1rem;

	@include media-breakpoint-up('lg') {
		display: inline-block;
		margin: 1rem;
		position: relative;
		top: -90px;		
	}

}

.matchup__warrior-detail {
	@include media-breakpoint-up('lg') {
		display: inline-block;
	}
}
