@import 'node_modules/deathmatch-components/scss/variables';
@import 'node_modules/deathmatch-components/scss/mixins/breakpoints';
@import 'node_modules/deathmatch-components/scss/config/grid';

.matchup {
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}

.matchup__title--third {
  margin-top: 1rem;

  @include media-breakpoint-up('lg') {
    display: inline-block;
    margin: 1rem;
    position: relative;
    top: -90px;		
  }

}

.matchup__warrior-detail {
  @include media-breakpoint-up('lg') {
    display: inline-block;
  }

  &:hover {
    cursor: pointer;
  }
}

.matchup__title {
  @include media-breakpoint-down('sm') {
    font-size: 18px;
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
}
